<div class="mandate-data-empty" layout="column"
     ng-class="{'orange-container': isDebitor()||isCreditor(),
                'green-container': isBank()}">
    <div flex="25"></div>
    <div layout="row" layout-align="center center" flex="10" style="font-size: 16px;">Please, select a mandate first</div>
    <div layout="row" layout-align="center center" flex>
        <img ng-src="img/cursor.png" style="height: 115px;"/>
    </div>
    <div flex="25"></div>
</div>