<div class="height-limited mandate-list">
    <md-card id="overlay" class="shadow-box">
        <md-card-content class="height-limited no-padding-margin">
            <md-content class="height-limited"> <!-- TODO: fixed height has to be % -->
                <dashboard-header header-name="LIST OF MANDATES" icon-name="list"></dashboard-header>
                <div ng-repeat="(index,item) in model.ListOfMandates | filter:searchMandate | reverse">
                    <md-toolbar ng-click="showInfo(model.ListOfMandates.length-1-index);"
                                ng-class="{'add': item.Mandate.Status == 'initiated',
                                'initiate': item.Mandate.Status == 'created',
                                'fill': item.Mandate.Status == 'validated',
                                'amend': item.Mandate.Status == 'amended',
                                'revoke': item.Mandate.Status == 'revoked',
                                'mandate-list-toolbar-selected': item.showInfo}"
                                class="mandate-list-toolbar" md-ink-ripple
                                layout="row" layout-align="start center">
                            <div><h3 class="mandate">Mandate n°{{model.ListOfMandates.length-index}}</h3></div>
                    </md-toolbar>
                </div>
            </md-content>
        </md-card-content>
    </md-card>
    <dashboard-button-add-mandate></dashboard-button-add-mandate>
</div>