<md-card id="overlay" class="shadow-box">
    <md-card-content class="height-limited no-padding-margin">
        <dashboard-header header-name="STATE BAR" icon-name="check"></dashboard-header>
        <md-stepper id="step-bar"
                    md-mobile-step-text="isMobileStepText"
                    md-vertical="isVertical"
                    md-linear="isLinear"
                    md-alternative="isAlternative">
            <md-step md-label="Mandate created" id="step-1">
                <md-step-body></md-step-body>
                <md-step-actions></md-step-actions>
            </md-step>
            <md-step md-label="Mandate validated" id="step-2">
                <md-step-body></md-step-body>
                <md-step-actions></md-step-actions>
            </md-step>
            <md-step md-label="Mandate amended" md-optional="Optional" id="step-3">
                <md-step-body></md-step-body>
                <md-step-actions></md-step-actions>
            </md-step>
            <md-step md-label="Mandate revoked" md-optional="Optional" id="step-4">
                <md-step-body></md-step-body>
                <md-step-actions></md-step-actions>
            </md-step>
        </md-stepper>
    </md-card-content>
</md-card>