<md-button class="md-fab fab-design add-button"
           ng-show="model.showFunctionnality.showInitMandate"
           ng-click="initiateMandate($event);">
    <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Create mandate</md-tooltip>
    <md-icon md-svg-icon="fonts/icons/plus.svg" class="s48" aria-label="Info"></md-icon>
</md-button>