<md-card id="overlay" class="shadow-box mandate-data-card height-limited">
    <md-card-content class="height-limited no-padding-margin inherit-height">
        <dashboard-header header-name="MANDATE INFORMATION" icon-name="info"></dashboard-header>
        <dashboard-mandate-data-empty class="inherit-height" ng-show="currentMandateSelected.Mandate.Status==undefined"></dashboard-mandate-data-empty>
        <div ng-hide="currentMandateSelected.Mandate.Status==undefined" class="mandateLine mandate-info globalInfo" flex>
            <h3>Public Data</h3>
            <dashboard-mandate-data-content label="Mandate ID" value="{{currentMandateSelected.Mandate.MandateID.slice(0,10)}}"></dashboard-mandate-data-content>
            <br>
            <dashboard-mandate-data-content label="RUM" value="{{currentMandateSelected.Mandate.MandateData.Rum}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="ICS" value="{{currentMandateSelected.Mandate.CreditorData.Ics}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Amount" value="{{currentMandateSelected.Mandate.MandateData.Amount}}" currency="€"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Periodicity" value="{{currentMandateSelected.Mandate.MandateData.Periodicity}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Type of payment" value="{{typeOfPayment}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Timestamp" value="{{currentMandateSelected.Mandate.MandateData.Timestamp}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Location" value="{{currentMandateSelected.Mandate.MandateData.Location}}"></dashboard-mandate-data-content>
            <div ng-show='showMandateData("creditor")'>
                <dashboard-mandate-data-content label="Creditor public key" value="{{'0x' + currentMandateSelected.Mandate.CreditorPublicKey}}"></dashboard-mandate-data-content>
            </div>
            <div ng-show='showMandateData("debitor")'>
                <dashboard-mandate-data-content label="Debtor public key" value="{{'0x' + currentMandateSelected.Mandate.DebitorPublicKey}}"></dashboard-mandate-data-content>
            </div>

            <h3>Private Data</h3>
            <dashboard-mandate-data-content label="Mandate manager" value="{{currentMandateSelected.Mandate.MandateData.Owner}}"></dashboard-mandate-data-content><!-- {{currentUserSelected.userText}}  -->
            <br>
            <div ng-show='showMandateData("creditor")'>
                <dashboard-mandate-data-content label="Creditor name" value="{{currentMandateSelected.Mandate.CreditorData.Name}}"></dashboard-mandate-data-content>
                <dashboard-mandate-data-content label="Creditor address" value="{{currentMandateSelected.Mandate.CreditorData.Address}}"></dashboard-mandate-data-content>
                 <dashboard-mandate-data-content label="ICS" value="{{currentMandateSelected.Mandate.CreditorData.Ics}}"></dashboard-mandate-data-content>                
            </div>
            <div ng-show='showMandateData("debitor")'>
                <dashboard-mandate-data-content label="Debtor name" value="{{currentMandateSelected.Mandate.DebitorData.Name}}"></dashboard-mandate-data-content>
                <dashboard-mandate-data-content label="Debtor address" value="{{currentMandateSelected.Mandate.DebitorData.Address}}"></dashboard-mandate-data-content>
                <dashboard-mandate-data-content label="IBAN" value="{{currentMandateSelected.Mandate.DebitorData.Iban}}"></dashboard-mandate-data-content>
                <dashboard-mandate-data-content label="BIC" value="{{currentMandateSelected.Mandate.DebitorData.Bic}}"></dashboard-mandate-data-content>
            </div>
        </div>
    </md-card-content>
</md-card>
