<div layout="row" class="dashboard-tabs">
    <div flex="25" layout="row" layout-align="center center" class="tab-selected">
        <md-icon md-svg-src="fonts/icons/dashboard.svg" class="no-padding-margin" aria-label="Dashboard"></md-icon>
        <div class="dashboard-tabs-title">Dashboard</div>
    </div>
    <div flex="25" layout="row" layout-align="center center" class="tab-fake dashboard-border">
        <md-icon md-svg-src="fonts/icons/finances.svg" class="no-padding-margin" aria-label="Finances"></md-icon>
        <div class="dashboard-tabs-title">Finances</div>
    </div>
    <div flex="25" layout="row" layout-align="center center" class="tab-fake dashboard-border">
        <md-icon md-svg-src="fonts/icons/payments.svg" class="no-padding-margin" aria-label="Payments"></md-icon>
        <div class="dashboard-tabs-title">Payments</div>
    </div>
    <div flex="25" layout="row" layout-align="center center" class="tab-fake">
        <md-icon md-svg-src="fonts/icons/options.svg" class="no-padding-margin" aria-label="Options"></md-icon>
        <div class="dashboard-tabs-title">Options</div>
    </div>
</div>