<md-card id="overlay" class="shadow-box" ng-show="isDebitor();">
    <md-card-content class="height-limited no-padding-margin">
        <dashboard-header header-name="ACTIONS" icon-name="pen"></dashboard-header>
        <div class="mandate-info edition mandate-actions"
             ng-show="showMandateButtons();"
             layout="column" layout-align="center center">
            <md-button class="md-raised md-primary mandate-button"
                       ng-show="model.showFunctionnality.showInitMandate"
                       ng-click="initiateMandate($event);" flex>
                Create mandate
            </md-button>
            <div class="mandate-buttons-debitor" ng-show="isCurrentMandateSelected();">
                <md-button class="md-raised md-primary mandate-button"
                           ng-show="model.showFunctionnality.showFillMandate"
                           ng-click="fillMandate($event,currentMandateSelected.Mandate.MandateID);" flex>
                    Fill mandate
                </md-button>
                <md-button class="md-raised md-primary mandate-button"
                           ng-show="model.showFunctionnality.showAmendMandate"
                           ng-click="amendMandate($event,currentMandateSelected.Mandate.MandateID);" flex>
                    Amend mandate
                </md-button>
                <md-button class="md-raised md-primary mandate-button"
                           ng-show="model.showFunctionnality.showRevokeMandate"
                           ng-click="revokeMandate($event,currentMandateSelected.Mandate.MandateID);" flex>
                    Revoke mandate
                </md-button>
            </div>
        </div>
        <div ng-hide="showMandateButtons();" class="no-data-content no-action-possible"
             layout="column" layout-align="center center">
            <b>No possible action</b>
        </div>
    </md-card-content>
</md-card>
