<div class="md-headline md-padding dashboard-header" layout="row" >
    <md-icon md-svg-src="fonts/icons/{{iconName}}.svg" aria-label="{{iconName}}" class="dashboard-header-icon"></md-icon>
    <h4 class="dashboard-header-title no-padding-margin">{{headerName}}</h4>
</div>