<md-card id="overlay" class="shadow-box">
    <md-card-content class="height-limited no-padding-margin">
        <dashboard-header header-name="PERSONAL INFORMATION" icon-name="person-black"></dashboard-header>
        <div class="personal-data">
            <dashboard-mandate-data-content label="Public Key" value="{{'0x' + currentUserSelected.publicKey}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Name" value="{{currentUserSelected.Name}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content label="Address" value="{{currentUserSelected.Address}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content ng-show="showMandateData('creditor') && currentUserSelected.typeOfUser != 'creditorBank'" label="ICS" value="{{currentUserSelected.Ics}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content ng-show="showMandateData('debitor') && currentUserSelected.typeOfUser != 'creditorBank'" label="IBAN" value="{{currentUserSelected.Iban}}"></dashboard-mandate-data-content>
            <dashboard-mandate-data-content ng-show="showMandateData('debitor') && currentUserSelected.typeOfUser != 'creditorBank'" label="BIC" value="{{currentUserSelected.Bic}}"></dashboard-mandate-data-content>
        </div>
    </md-card-content>
</md-card>
