<md-content class="dashboard-content no-padding-top" layout-padding flex>
    <div layout="column">
        <dashboard-tabs></dashboard-tabs>
        <div layout="row" class="dashboard-card">
            <dashboard-mandate-list flex="23"></dashboard-mandate-list>
            <dashboard-mandate-data flex="40"></dashboard-mandate-data>
            <div flex=37">
                <div layout="column">
                    <dashboard-step-bar flex></dashboard-step-bar>
                    <dashboard-buttons flex></dashboard-buttons>
                    <dashboard-personal-data flex></dashboard-personal-data>
                </div>
            </div>
        </div>
    </div>
</md-content>