/* Source : http://codepen.io/anon/pen/gmvWXq */

.behindHeader{
    padding-top: 40px;
}

.cubeZone{
    width: 150px!important;
    /*padding-bottom: 43px;*/
}

.cube {
    margin-left: -0.5em;
    transition: all 20s cubic-bezier(0.275, 1.53, 0.6, 0.965);
    opacity: 1;
    cursor: pointer;
}
.cube.zoom {
    opacity: 0;
}
.cube.zoom.front {
    transform: translateZ(1000px);
}
.cube.zoom.back {
    transform: translateZ(-1000px);
}
.cube.hover {
    /*animation: hover 20s ease-out infinite;
    animation-fill-mode: forwards;*/
}
.cube.two {
    position: absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform-origin: 50px 50px -50px;
    transform: rotate3d(45, 45, 45, 45deg);
    /*left: 38%;
    top: 1em; */
}
.cube.two b,
.cube.two s,
.cube.two b:before,
.cube.two s:before,
.cube.two b:after,
.cube.two s:after {
    display: block;
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    background: #2980b9;
    box-shadow: inset 0 0 20px #277ab1;
    transform-style: preserve-3d;
    z-index: 2;
    transform-origin: center center;
}
.cube.two s {
    transform: translateZ(-100px) rotateZ(90deg) rotateY(180deg);
}
.cube.two b:after,
.cube.two s:after {
    transform: translateX(50px) translateZ(-50px) rotateY(90deg);
}
.cube.two b:before,
.cube.two s:before {
    transform: translateX(-50px) translateZ(-50px) rotateY(90deg);
}
.cube.two s:after {
    background: #2d8cca;
}
.cube.two s:before {
    background: #2472a4;
}
.cube.two b:after,
.cube.two b:before {
    background: #2472a4;
}

.cubePadding{
    /*padding-top: 150px;*/
    /*padding-left: 50px;*/
    min-height: 200px;
}

.block-design{
    max-width: 200px;
    padding-bottom: 8px;
}

/*unused*/
.verticalBar{
    margin-left: 50px;
    height: 20px;
    width: 3px;
    background-color: black;
    padding-top: 180px;
    margin-left: 41px;
}

.horizontalBar{
    margin-left: 85px;
    margin-bottom: 30px;
    margin-top: -143px;
    height: 3px;
    width: 200px;
    background-color: 	#7B7C7E;
}

.chain-spacer{
    padding-top: 50px;
}

.customized-md-card{
    width: 95%!important;
    height: 62%!important;
    overflow: hidden;
    border-radius: 4px;
    transform: translateX(1500px);/*translateX(20px);*/
    transition: all 0.5s;
    visibility: hidden;
    margin-top: 0px;
}

.customized-md-card:before{
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.customized-md-card.detailed{
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
    visibility: visible;
}

.customized-md-card:active:before{
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}


/**********************************************************
                          CUBE KEYFRAMES
**********************************************************/

@keyframes hover {
    20% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    40% {
        transform: rotate3d(1, 0, 0, 180deg);/*transform: rotate3d(1, 1, 0, 180deg);*/
    }
    60% {
        transform: rotate3d(1, 0, 0, 180deg);/*transform: rotate3d(0, 1, 1, 180deg);*/
    }
    80% {
        transform: rotate3d(1, 0, 0, 180deg);/*transform: rotate3d(0, 1, 0, 180deg);*/
    }
}

@keyframes hover2 {
    50% {
        transform: rotate3d(1, 0, 0, 180deg);/*ransform: translateZ(0px) rotate3d(1, 1, 0, -90deg);*/
    }
}


/**********************************************************
                          TEXT CONTENT
**********************************************************/


.wrap {
    position: absolute;
    overflow: hidden;
    display: block;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}
.wrap .block-content {
    opacity: 0;
}
.wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}
.wrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active .block-content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.blockchain-content{
    position: fixed!important;
    left: 190px!important;
}

.blockchain-area{
    min-height: 230px;
    max-width: inherit;
    padding-left: 8px;
}