.layer {
    position: absolute;
    width: 35%;
    height: 158%;
}
.layer.top {
    -webkit-animation: 7s top cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s top cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.layer.bottom {
    -webkit-animation: 7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.n {
    -webkit-animation: 7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes n {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
    }
}

@keyframes n {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -58px);
    }
}
.s {
    -webkit-animation: 7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes s {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
    }
}

@keyframes s {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 58px);
    }
}
.e {
    -webkit-animation: 7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes e {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
    }
}

@keyframes e {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 0);
    }
}
.w {
    -webkit-animation: 7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes w {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
    }
}

@keyframes w {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 0);
    }
}
.ne {
    -webkit-animation: 7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes ne {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(116px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(116px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -58px);
    }
}

@keyframes ne {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(58px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(116px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(116px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(87px, -58px);
    }
}
.se {
    -webkit-animation: 7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes se {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 58px);
    }
}

@keyframes se {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, 58px);
    }
}
.sw {
    -webkit-animation: 7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes sw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-116px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-116px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 58px);
    }
}

@keyframes sw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-58px, 29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-116px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-116px, 58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-87px, 58px);
    }
}
.nw {
    -webkit-animation: 7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes nw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -58px);
    }
}

@keyframes nw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -29px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, -29px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-29px, -29px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -58px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -58px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(29px, -58px);
    }
}
.cube {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: #d33d39;
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0);
    transform: matrix(0.9, 0.5, 0, 1, 0, 0);
}
.cube:before, .cube:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.cube:before {
    background: #279099;
    -webkit-transform: matrix(1, -1, 1, 0, 15, -30);
    transform: matrix(1, -1, 1, 0, 15, -30);
}
.cube:after {
    background: #e59b2a;
    -webkit-transform: matrix(1, -1, 0, 1, 30, -15);
    transform: matrix(1, -1, 0, 1, 30, -15);
}

@-webkit-keyframes top {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, -29px);
        transform: translate(0, -29px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, -58px);
        transform: translate(0, -58px);
    }
}

@keyframes top {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, -29px);
        transform: translate(0, -29px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, -58px);
        transform: translate(0, -58px);
    }
}
@-webkit-keyframes bottom {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, 29px);
        transform: translate(0, 29px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, 58px);
        transform: translate(0, 58px);
    }
}
@keyframes bottom {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, 29px);
        transform: translate(0, 29px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, 58px);
        transform: translate(0, 58px);
    }
}
html {
    background-color: #262626;
}

html, body {
    height: 100%;
    overflow: hidden;
}
