/*cubeSize = 6*/

.layer {
    position: absolute;
    width: 0%;
    height: 0%;
}
.layer.top {
    -webkit-animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.layer.bottom {
    -webkit-animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.n {
    -webkit-animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes n {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
    }
}

@keyframes n {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -10px);
    }
}
.s {
    -webkit-animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes s {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
    }
}

@keyframes s {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 10px);
    }
}
.e {
    -webkit-animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes e {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
    }
}

@keyframes e {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 0);
    }
}
.w {
    -webkit-animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes w {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
    }
}

@keyframes w {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 0);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 0);
    }
}
.ne {
    -webkit-animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes ne {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(20px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(20px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -10px);
    }
}

@keyframes ne {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(10px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(20px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(20px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(15px, -10px);
    }
}
.se {
    -webkit-animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes se {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 10px);
    }
}

@keyframes se {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, 10px);
    }
}
.sw {
    -webkit-animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes sw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-20px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-20px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 10px);
    }
}

@keyframes sw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-10px, 5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-20px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-20px, 10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-15px, 10px);
    }
}
.nw {
    -webkit-animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes nw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -10px);
    }
}

@keyframes nw {
    0%, 83.33%, 100% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -5px);
    }
    16.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, -5px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-5px, -5px);
    }
    33.33%, 50% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -10px);
    }
    66.66% {
        -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -10px);
        transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(5px, -10px);
    }
}
.cube {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 6px;
    height: 6px;
    margin: 0 auto;
    background: #d33d39;
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0);
    transform: matrix(0.9, 0.5, 0, 1, 0, 0);
}
.cube:before, .cube:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.cube:before {
    background: #279099;
    -webkit-transform: matrix(1, -1, 1, 0, 3, -6);
    transform: matrix(1, -1, 1, 0, 3, -6);
}
.cube:after {
    background: #e59b2a;
    -webkit-transform: matrix(1, -1, 0, 1, 6, -3);
    transform: matrix(1, -1, 0, 1, 6, -3);
}

@-webkit-keyframes top {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
}

@keyframes top {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
}
@-webkit-keyframes bottom {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
}
@keyframes bottom {
    0%, 33.33%, 100% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px);
    }
    50%, 83.33% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
}
html {
    background-color: #262626;
}

html, body {
    height: 100%;
    overflow: hidden;
}
