/**********************************************************
                          ICON DESIGN
**********************************************************/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:  local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.shutdown{
  height: 49px;
  width: 45px;
  padding-top: 8px;
}

/*md-icon{
  fill: black!important;
}*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/**********************************************************
                          ICON CUSTOMIZATION
**********************************************************/

.hyperledger-icon {
  width: 50px;
  height: 50px;
  padding-top: 4px;
}

.refresh {
  width: 30px;
  height: 30px;
  background: url(../img/refresh.png) no-repeat center / contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%)translateY(-50%)rotate(0deg);
  -moz-transform: translateX(-50%)translateY(-50%)rotate(0deg);
  transform: translateX(-50%)translateY(-50%)rotate(0deg);
}

.refresh:hover {
  -webkit-transform: translateX(-50%)translateY(-50%)rotate(360deg);
  -moz-transform: translateX(-50%)translateY(-50%)rotate(360deg);
  transform: translateX(-50%)translateY(-50%)rotate(360deg);
}

.transition {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
  -moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
  transition-timing-function: cubic-bezier(.4,0,.5,1);
}
/**********************************************************
                          FAB DESIGN
**********************************************************/

.scroll-icon{
  height: 38px;
  width: 38px;
}

.docs-scroll-fab{
  position: fixed!important;
}

.md-fab.docs-scroll-fab {
  position: fixed !important;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.docs-scroll-fab.scrolling {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.fab-dial{
  top: 0px!important;
  right: 0px!important;
}

.fab-design{
  /*background-color: #CF022B!important;*/
  background-color: #FF6600!important;/*#EF7D00!important;*/
  color: rgba(255,255,255,0.87)!important;
}

.add-button{
  bottom: 35px;
  top: 0%;
  left: 68%;
}

/**********************************************************
                          GENERAL
**********************************************************/

html, body {
  font-family: 'Roboto Ligth', sans-serif!important;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main-view{
  background-color: rgba(242, 242, 242, 1);
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

.md-toolbar-tools{
  height: 56px!important;
  max-height: 60px!important;
  padding-right: 0px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: rgb(207,2,43);
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{
  background-color: #2196f3!important;
}

.info-content{
  padding-top: 3px;
  padding-bottom: 3px;
}

/**********************************************************
                          LOGIN
**********************************************************/

.login-form{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.login-header{
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #edf0f5;
  color: #333333;
}

.login-header-title{
  padding-left: 26%;
}

/**********************************************************
                          GRID
**********************************************************/

.grid-content{
  background-color: transparent!important;
}

/**********************************************************
                          POSITION
**********************************************************/

.content-no-padding{
  padding-bottom: 0px!important;
  padding-top: 0px!important;
}

.no-padding-top{
  padding-top: 0px!important;
}

.no-padding-left{
  padding-left: 0px!important;
  margin-left: 0px!important;
}

.padding-correction{
  padding-left: 8px;
}

.no-padding-side-correction{
  padding-left: 0px;
  padding-right: 0px;
}

.margin-correction{
  margin-left: 0px!important;
}

.no-padding-margin{
  padding: 0px!important;
  margin: 0px!important;
}

.input-container-padding{
  margin: 0px;
  padding-bottom: 21px;
}

.inherit-height{
  height: inherit;
}

/*.home-separator{
  min-height: 30px;
  background-color: white;
}*/

/**********************************************************
                          DASHBOARD
**********************************************************/

.dashboard {
  padding: 2%;
  max-height: 785px;
  background-color: white;
}

.dashboard-card{
  padding-top: 20px;
}

.dashboard-content{
  background-color: #edf0f5;
  padding-right: 9px!important;
  padding-left: 9px!important;
}

.dashboard-header{
  padding-top: 0px;
  /*padding-bottom: 0px;*/
  padding-bottom: 10px!important;
  background-color: white;
  color: #333333;
  border-bottom-color: #edf0f5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dashboard-header-title{
  font-family: 'Roboto Ligth', sans-serif;
  font-size: 18px;
  font-weight: initial;
}

.dashboard-header-icon{
  fill: black;
  margin-left: 0px;
  margin-right: 10px;
}

.dashboard-tabs{
  height: 45px;
  margin-top: -10px;
  margin-right: -17px;
  font-size: 20px;
}

.dashboard-tabs-title{
  padding-left: 2%;
  padding-top: 1px;
}

.dashboard-border{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white;
}

.personal-data{
  padding-top: 16px;
  padding-left: 0px;
  padding-bottom: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.tab-selected{
  background-color: #edf0f5;
  cursor: pointer;
  padding-right: 16px;
  padding-top: 8px;
}

.tab-fake{
  background-color: white;
  font-size: 18px;
  padding-top: 2px;
}

.shadow-box{
  box-shadow: 0 4px 20px 3px rgba(0,0,0,.1)!important;
  overflow: auto;
}

.shadow-box:hover{
  box-shadow: 0 4px 15px 3px rgba(0,0,0,.1)!important;
}

.no-shadow{
  box-shadow: none;
}

.no-data-content{
  font-style: italic;
}

/**********************************************************
                          MANDATE
**********************************************************/

.mandate{
  font-size: 16px;
  font-weight: initial;
}

.mandate-data-label{
  text-align: right;
}

.mandate-data-separator{
  text-align: center;
}

.mandate-data-card{
  height: 96.5%;
}

.mandate-data-empty{
  height: 320px;
  margin: 5%;
}

.orange-container{
  background-color: #FFE7D0;
}

.green-container{
  background-color: #B9FDD7;
}

.mandateLine{
  padding-left: 4%;
  padding-bottom: 4%;
  background-color: rgba(255, 255, 255, 1);
}

.mandate-list{
  padding-bottom: 46px;
  overflow: hidden;
}

.mandate-list-toolbar{
  padding-left: 10%;
  color: #333333!important;
  background-color: rgba(255, 255, 255, 1)!important;
  border-left-width: 5px;
  border-left-style: solid;
  cursor: pointer;
}

.mandate-list-toolbar:hover{
  background-color: rgba(215, 215, 215, 1)!important;
}

.mandate-list-toolbar-selected{
  background-color: rgba(215, 215, 215, 1)!important;
}

.mandate-actions{
  padding: 6px;
}

.mandate-button{
  width: 100%;
  background-color: #FF6600!important;/*#2196f3!important;*/
  color: white!important;
}

.mandate-buttons-debitor{
  padding-right: 15px;
  width: 100%;
}

.no-action-possible{
  padding-top: 16px;
  padding-bottom: 16px;
}

.toggle-list{
  padding-top: 15px;
}

.toggle-button{
  background-color: rgb(250,250,250)!important;
  border-radius: 0%!important;
  border-style: solid!important;
  border-width: 1px!important;
}

.toggle-button-left{
  border-left-color: #D2D2D2!important;
  border-right-width: 0px!important;
  border-top-color: #DEDEDE!important;
  border-bottom-color: #B8B8B8!important;
}

.toggle-button-right{
  border-left-width: 0px!important;
  border-right-color: #CCCCCC!important;
  border-top-color: #DEDEDE!important;
  border-bottom-color: #B8B8B8!important;
}

.toggle-button-middle{
  border-right-width: 0px!important;
  border-left-width: 0px!important;
  border-top-color: #DEDEDE!important;
  border-bottom-color: #B8B8B8!important;
}

.toggle-button-selected{
  background-color: #C8C8C8!important;
  border-radius: 0%!important;
  border-bottom-style: solid!important;
  border-bottom-width: 1px!important;
  border-bottom-color: #B8B8B8!important;
}

.edit-button{
  width: 60px!important;
  border-style: solid!important;
  border-width: 1px!important;
  border-left-color: #D2D2D2!important;
  border-right-color: #CCCCCC!important;
  border-top-color: #DEDEDE!important;
  border-bottom-color: #B8B8B8!important;
}

.edit-button-row{
  padding-top: 21px;
  padding-right: 8px;
}

.edit-icon{
  margin-bottom: 7px;
  margin-top: -14px;
}

.height-limited{
  max-height: 530px;
}



/**********************************************************
                          HEADER
**********************************************************/

.header-toolbar-debitor{
  background-color: #FF6600!important;/*#EF7D00!important;*//*#da4336!important;*/
  color: white!important;
}

.header-toolbar-creditor{
  background-color: #FF6600!important;/*#EF7D00!important;*//*#da4336!important;*/
  color: white!important;
}

.header-toolbar-bank{
  background-color: #2DAA64!important;
  color: white!important;
}

.header-button{
  height: 54px!important;
}

.header-button-content{
  margin-top: 10px!important;
  font-size: 17px;
}

.header-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 11px;
}

.header-height{
  height: inherit;
}

.header-input{
  color:white!important;
  height: 30px!important;
}

.disabled-input{
  cursor: not-allowed;
}

.header-filter{
  margin-left: 1%;
}

.header-user-selector, .header-filter-selector{
  height: 30px!important;
  padding-bottom: 3px;
  padding-right: 6px;
  margin-right: 8px;
  margin-top: 8px;
}

.header-filer-list{
  height: 30px!important;
}

.show-label {
  display: none;
}

.profile-type{
  padding-right: 16px!important;
}

.arrow-left-style{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.blockchain-header-icon{
  height: 45px!important;
  width: 45px!important;
}

.search-input{
  /*padding-top: 25px;*/
  margin-top: 8px;
  width: 100%;
}

.search-button{
  width: 56px!important;
  height: 56px!important;
}

.search-item{
  background-color: #f9c465!important;
}

.md-subheader {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.md-subheader-inner {
  width: 100%!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.subheader-size{
  width: inherit;
  height: 50px;
  padding-left: 7%;
  padding-right: 10%;
}

#header-main{
  -webkit-transition:headerMoveIn cubic-bezier(0, 0.7, 0.5, 1) 0.5s;
  transition:headerMoveIn cubic-bezier(0, 0.7, 0.5, 1) 0.5s;
}

#header-search{
  width: 98%;
  -webkit-transition:headerMoveIn cubic-bezier(0, 0.7, 0.5, 1) 0.5s;
  transition:headerMoveIn cubic-bezier(0, 0.7, 0.5, 1) 0.5s;
}

.header-search-in, .header-main-in{
  animation: headerMoveIn 0.8s cubic-bezier(0, 0.7, 0.5, 1);
}

.header-search-out, .header-main-out{
  animation: headerMoveOut 0.2s cubic-bezier(0, 0.7, 0.5, 1);
}

@keyframes headerMoveIn {
  from  {width: 0%; opacity: 0.2; display: none;}
  to    {width: 98%; opacity: 1; display: flex;}
}

@keyframes headerMoveOut {
  from  {width: 98%; opacity: 1; display: flex;}
  to    {width: 0%; opacity: 0.2; display: none;}
}

.refresh-button{
  min-width: 30px!important;
  margin-left: 2%;
}

.loupe-button{
  height: inherit;
  width: inherit;
  min-width: 30px!important;
  max-width: 40px!important;
  margin-right: 8px!important;
}

.close-button{
  height: inherit;
  width: inherit;
  margin-right: 8px!important;
  min-width: 30px!important;
  max-width: 40px!important;
}

.search{
  width: 30px;
  height: 30px;
  background: url(../img/loupe-white.png) no-repeat center / contain;
  position: absolute;
  /*left: 50%;*/
  top: 22%;
  -webkit-transition: all .8s cubic-bezier(.4, 0, .2, 1);
  transition: all .8s cubic-bezier(.4, 0, .2, 1);
}

.close{
  width: 30px;
  height: 30px;
  background: url(../img/close-button-white.png) no-repeat center / contain;
  position: absolute;
  /*left: 50%;*/
  top: 22%;
  opacity: 0;
  -webkit-transition: all .8s cubic-bezier(.4, 0, .2, 1);
  transition: all .8s cubic-bezier(.4, 0, .2, 1);
}

.show-search-bar-search-icon{
  opacity: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.show-search-bar-close-icon{
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.refresh-button:hover, .loupe-button:hover, .close-button:hover{
  background-color: rgba(255, 255, 255, 0.2)!important;
}

.header-icon{
  width: 4%;
}

.header-img{
  width: 4%!important;
  height: 81%!important;
}

.header-spacer{
  width: 8px;
}

#input_14, #input_15, #input_16, #input_17 ,#input_18, #input_19 {
  border-color: white!important;
}

#select_value_label_0, #select_value_label_6, #select_value_label_8 {
  color: white!important;
  border-color: white!important;
}

/**********************************************************
                    FOOTER
**********************************************************/

.footer{
  height: 50px;
  position: relative;
  margin-top: 30px;
  bottom: -25px;
  /*background-color: white;*/
}

.footer-app{
  background-color: white;
}
/**********************************************************
                    DIALOG
**********************************************************/

.dialog-header-txt{
  font-size: 30px!important;
}

.dialog-sub-title{
  padding-left: 6%!important;
  padding-top: 4%;
}

.dialog-initiate{
  padding-top: 125px;
  padding-left: 10%;
  width: 80%;
  height: 110%;
}

.dialog-fill{
  width: 70%;
  padding-left: 16%;
}

.dialog-revoke{
  width:50%;
}

.dialog-input-container{
  margin-bottom: 0px!important;
}

.fill-column{
  padding-top: 4%;
}

.fill-data{
  padding-bottom: 10%;
}

.progress-circular-content{
  padding-bottom: 10px;
}

.progress-circular-text{
  text-align: start;
  padding-top: 4%;
}

/**********************************************************
                    MD-STEPPER
**********************************************************/


.md-whiteframe-1dp, .md-whiteframe-z1 {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.12)!important;
}

.step-bar-initiate{
  color: #F7A823;
  font-weight: bold;
}

.step-bar-fill{
  color: #2DAA64;
  font-weight: bold;
}

.step-bar-amend{
  color: #EF7D00;
  font-weight: bold;
}

.step-bar-revoke{
  color: #E14B0F;
  font-weight: bold;
}

.step-bar-number-initiate{
  background-color: #F7A823!important;
}

.step-bar-number-fill{
  background-color: #2DAA64!important;
}

.step-bar-number-amend{
  background-color: #EF7D00!important;
}

.step-bar-number-revoke{
  background-color: #E14B0F!important;
}

.step-bar-not-selected{
  color: rgba(0,0,0,.26);
}

.step-bar-number-not-selected{
  background-color: #bdbdbd!important;
}

/**********************************************************
                    CHAINCODE STYLE
**********************************************************/

.add{
  border-left-color: #E14B0F;
}

.initiate{
  border-left-color: #F7A823;
}

.fill{
  border-left-color: #2DAA64;
}

.amend{
  border-left-color: #EF7D00;
}

.revoke{
  border-left-color: #E14B0F;
}

/**********************************************************
                    BLOCKCHAIN VIEW
**********************************************************/

.blockchain-view{
  /*margin-top: 20px;*/
}

.blockchain-zone{
  background-color: transparent;
  padding-top: 10px;
}

.blockchain-header{
  /*padding-bottom: 20px;*/
}

.blockchain-title{
  font-size: 18px;
}

.blockchain-info-title{
  padding-top: 20px;
  padding-bottom: 14px;
  padding-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.transaction{
  padding-left: 4%;
  /*font-size: 16px;*/
  /*font-weight: initial;*/
}

.transaction-content{
  padding-top: 8px;
}

.transaction-info-title{
  padding-top: 15px;
  padding-bottom: 14px;
  padding-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.transaction-title{
  padding-left: 35px;
}

.transaction-list-toolbar{
  padding-left: 10%;
  color: #333333!important;
  background-color: rgba(255, 255, 255, 1)!important;
  cursor: pointer;
}

.transaction-list-toolbar:hover{
  background-color: rgba(215, 215, 215, 1)!important;
}

.transaction-list-toolbar-selected{
  background-color: rgba(215, 215, 215, 1)!important;
}

.chaincode-block{
  height: 97%;
}

/*.transaction-tab{
  border-bottom-width: 1px;
  border-bottom-color: #A8A8A7;
  border-bottom-style: solid;
}*/

.block{
  width: 150px;
  height: 180px;
  cursor: pointer;
}

.block-number{
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #edf0f5;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: -15px;
}

.block-number-selected{
  background-color: rgba(215, 215, 215, 1)!important;
  font-weight: bold;
}

.block-number-last{
  margin-top: 16px!important;
}

.block-number-txt{
  padding-top: 4px;
  font-size: 18px;
}

.blockchain-blocks{
  max-width: inherit;
}

.value-updated{
  color: #2DAA64;
}