/*Unused*/
.panel {
    margin-bottom: 24px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-group {
    margin-bottom: 24px;
}

.card{
    position: relative;
    margin-bottom: 24px;
    background-color: #ffffff;
    color: #313534;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.panel-group .card {
    border: inherit;
    -webkit-transition: margin 0.33s ease-out;
    -o-transition: margin 0.33s ease-out;
    transition: margin 0.33s ease-out;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 2px;
}

