<button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling"
        type="button" aria-label="Back to Top"
        ng-class="{'scrolling': scrolling,
        'header-toolbar-creditor': userType == 'creditor',
        'header-toolbar-debitor': userType == 'debitor',
        'header-toolbar-bank': userType == 'debitorBank',
        'header-toolbar-bank': userType == 'creditorBank'}" >
    <md-icon md-svg-src="fonts/icons/chevron-down.svg" class="scroll-icon"></md-icon>
    <div class="md-ripple-container"></div>
</button>