<div name="addMandat" class="dialog-initiate">
    <md-dialog aria-label="Mandat" >
        <form name="initiateMandate" ng-submit="submitCreditorInitiateMandate()">
            <md-toolbar ng-class="{'header-toolbar-debitor': currentUser.typeOfUser == 'debitor',
            'header-toolbar-creditor': currentUser.typeOfUser == 'creditor',
            'header-toolbar-bank': currentUser.typeOfUser == 'debitorBank',
            'header-toolbar-bank': currentUser.typeOfUser == 'creditorBank'}">
                <div class="md-toolbar-tools">
                    <h2 layout-align="center center" class="dialog-header-txt">Create mandate</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="fonts/icons/close-button-white.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content" layout="column">
                    <div layout="row">
                        <div layout="column" flex="45">
                            <h2 flex>Mandate</h2>

                            <md-input-container class="dialog-input-container" flex>
                                <label>Select Debtor Public Key</label>
                                <md-select id="debitors-list" name="type" ng-model="data.initiateMandate.debitorPublicKey"" aria-label="Select public key" required>
                                    <md-option ng-repeat="item in debitorKeys" value="{{item}}"  placeholder="Select Debitor Public Key" ">{{'0x' + item}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>RUM</label>
                                <input Required name="rum" ng-model="data.initiateMandate.rum">
                                <div ng-messages="initiateMandate.rum.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>Amount</label>
                                <input required="" name="amount" ng-model="data.initiateMandate.amount" type="number" step="0.01">
                                <md-icon md-svg-src="fonts/icons/euro_symbol.svg" aria-label="euro"></md-icon>
                            </md-input-container>
                            <br>
                            <md-input-container class="dialog-input-container" flex>
                                <label>Periodicity</label>
                                <md-select id="periodicity-list" name="type" ng-model="data.initiateMandate.periodicity" aria-label="Select periodicity" required>
                                    <md-option ng-repeat="item in periodicity" value="{{item}}"  placeholder="Select Periodicity" ">{{item}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="dialog-input-container" flex>
                                <label>Mandate manager</label>
                                <md-select id="owner-list" name="type" ng-model="data.initiateMandate.owner" aria-label="Select Mandate manager" required>
                                    <md-option ng-repeat="item in owner" value="{{item}}"  placeholder="Select Mandate manager" ">{{item}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="10"></div>
                        <div layout="column" flex="45">
                            <h2 flex>Creditor</h2>
                            <h4 flex>Public Key : {{'0x' + currentUser.publicKey}}</h4>
                            <md-input-container class="dialog-input-container" flex>
                                <label>Name</label>
                                <input required="" name="creditorName" ng-model="data.initiateMandate.creditorName">
                                <div ng-messages="initiateMandate.creditorName.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>Address</label>
                                <input required="" name="creditorAddress" ng-model="data.initiateMandate.creditorAddress">
                                <div ng-messages="initiateMandate.creditorAddress.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>ICS</label>
                                <input required="" name="ics" ng-model="data.initiateMandate.ics">
                                <div ng-messages="initiateMandate.ics.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>BIC</label>
                                <input required="" name="bic" ng-model="data.initiateMandate.bic">
                                <div ng-messages="initiateMandate.bic.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="dialog-input-container" flex>
                                <label>Location</label>
                                <input required="" name="location" ng-model="data.initiateMandate.location">
                                <div ng-messages="initiateMandate.location.$error" ng-show="formState" ng-messages-multiple>
                                    <div ng-message="required">Required field</div>
                                </div>                                
                                <md-icon md-svg-src="fonts/icons/location.svg" aria-label="Location"></md-icon>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row" class="padding-correction">
                <md-button ng-click="cancel()" class="md-raised margin-correction" flex="50"> Cancel </md-button>
                <md-button ng-click="submitCreditorInitiateMandate(initiateMandate)" class="md-raised mandate-button" flex="50"> Submit </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>