<div name="revoquerMandat" class="dialog-revoke" ng-controller="DialogCtrl">
    <md-dialog aria-label="Mandat">
     <form name="revokeMandate" submit="submitRevokeMandate()">
       <md-toolbar ng-class="{'header-toolbar-debitor': currentUser.typeOfUser == 'debitor',
            'header-toolbar-creditor': currentUser.typeOfUser == 'creditor',
            'header-toolbar-bank': currentUser.typeOfUser == 'debitorBank',
            'header-toolbar-bank': currentUser.typeOfUser == 'creditorBank'}">
         <div class="md-toolbar-tools" >
           <h2 layout-align="center center" class="dialog-header-txt">Revoke mandate</h2>
           <span flex></span>
           <md-button class="md-icon-button" ng-click="cancel()">
             <md-icon md-svg-src="fonts/icons/close-button-white.svg" aria-label="Close dialog"></md-icon>
           </md-button>
         </div>
       </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
              <h3 class="dialog-sub-title">Current Mandate ID : {{currentMandate.Mandate.MandateID.slice(0,10)}}</h3>
              <md-input-container class="md-block dialog-sub-title">
                  <md-checkbox name="serviceTermsAccepted" ng-model="data.revokeMandate.boolRevoke" required>
                      I want to revoke this mandate
                  </md-checkbox>
                  <div ng-messages="revokeMandate.serviceTermsAccepted.$error" ng-show="formState" ng-messages-multiple>
                      <div ng-message="required">You must accept the terms of service before you can proceed.</div>
                  </div>
              </md-input-container>
         </div>
        </md-dialog-content>
         <md-dialog-actions layout="row" class="padding-correction">
             <md-button ng-click="cancel();" class="md-raised margin-correction" flex="50"> Cancel </md-button>
             <md-button ng-click="submitRevokeMandate(revokeMandate);" class="md-raised mandate-button" flex="50"> Submit </md-button>
         </md-dialog-actions>
     </form>
    </md-dialog>
</div>
