<div name="remplirMandat" ng-controller="DialogCtrl" class="dialog-fill">
    <md-dialog aria-label="Mandat">
        <form name="fillMandate" submit="submitDebitorFillMandate()">
            <md-toolbar ng-class="{'header-toolbar-debitor': currentUser.typeOfUser == 'debitor',
            'header-toolbar-creditor': currentUser.typeOfUser == 'creditor',
            'header-toolbar-bank': currentUser.typeOfUser == 'debitorBank',
            'header-toolbar-bank': currentUser.typeOfUser == 'creditorBank'}">
                <div class="md-toolbar-tools" >
                    <h2 class="dialog-header-txt">Fill mandate</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="fonts/icons/close-button-white.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <h3 class="dialog-sub-title">Current Mandate ID : {{currentMandate.Mandate.MandateID.slice(0,10)}}</h3>
                <h2 class="dialog-sub-title">Debtor data</h2>
                <div class="md-dialog-content content-no-padding dialog-sub-title" layout="row">
                    <div layout="column" class="fill-column" flex="45">
                        <md-input-container class="dialog-input-container" flex>
                            <label>Name</label>
                            <input required="" name="debitorName" ng-model="data.fillMandate.debitorName" required>
                            <div ng-messages="fillMandate.debitorName.$error" ng-show="formState" ng-messages-multiple>
                                <div ng-message="required">Required field</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="dialog-input-container fill-data" flex>
                            <label>Address</label>
                            <input required="" name="debitorAddress" ng-model="data.fillMandate.debitorAddress" required>
                            <div ng-messages="fillMandate.debitorAddress.$error" ng-show="formState" ng-messages-multiple>
                                <div ng-message="required">Required field</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div flex="10"></div>

                    <div layout="column" class="fill-column" flex="45" >
                        <md-input-container class="dialog-input-container" flex>
                            <label>IBAN</label>
                            <input required="" name="IBAN" ng-model="data.fillMandate.IBAN" required>
                            <div ng-messages="fillMandate.IBAN.$error" ng-show="formState" ng-messages-multiple>
                                <div ng-message="required">Required field</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="dialog-input-container fill-data" flex>
                            <label>BIC</label>
                            <input required="" name="BIC" ng-model="data.fillMandate.BIC" required>
                            <div ng-messages="fillMandate.BIC.$error" ng-show="formState" ng-messages-multiple>
                                <div ng-message="required">Required field</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <md-input-container class="md-block" style="padding-left: 6%;">
                    <md-checkbox name="serviceTermsAccepted" ng-model="data.fillMandate.serviceTermsAccepted" required>
                        I accept the terms of service.
                    </md-checkbox>
                    <div ng-messages="fillMandate.serviceTermsAccepted.$error" ng-show="formState" ng-messages-multiple>
                        <div ng-message="required">You must accept the terms of service before you can proceed.</div>
                    </div>
                </md-input-container>
                <div class="progress-circular-content" ng-show="progressCircularState" layout="row">
                    <div flex="5"></div>
                    <md-progress-circular md-mode="indeterminate" flex="15"></md-progress-circular>
                    <div class="progress-circular-text" flex>Your bank is checking your request</div>
                    <div flex="5"></div>

                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()" class="md-raised margin-correction" flex="50"> Cancel </md-button>
                <md-button ng-click="submitDebitorFillMandate(fillMandate)" class="md-raised mandate-button" flex="50"> Submit </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>