<div name="amenderMandat" ng-controller="DialogCtrl" style="width: 50%; padding-left: 10%;">
    <md-dialog aria-label="Mandat">
     <form name="amendMandate" submit="submitDebitorUpdatesMandate()">
       <md-toolbar ng-class="{'header-toolbar-debitor': currentUser.typeOfUser == 'debitor',
            'header-toolbar-creditor': currentUser.typeOfUser == 'creditor',
            'header-toolbar-bank': currentUser.typeOfUser == 'debitorBank',
            'header-toolbar-bank': currentUser.typeOfUser == 'creditorBank'}">
         <div class="md-toolbar-tools" >
           <h2 layout-align="center center" class="dialog-header-txt">Amend mandate</h2>
           <span flex></span>
           <md-button class="md-icon-button" ng-click="cancel()">
             <md-icon md-svg-src="fonts/icons/close-button-white.svg" aria-label="Close dialog"></md-icon>
           </md-button>
         </div>
       </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content" layout="column">
              <h3>Current Mandate ID : {{currentMandate.Mandate.MandateID.slice(0,10)}}</h3>
             <md-input-container layout="row" class="dialog-input-container" flex="50">
             <label>Address</label>
             <input name="debitorAddress" ng-model="data.amendMandate.debitorAddress" required>
                 <div ng-messages="amendMandate.debitorAddress.$error" ng-show="formState" ng-messages-multiple>
                     <div ng-message="required">Required field</div>
                 </div>
             </md-input-container>

              <md-input-container layout="row" class="dialog-input-container" flex="50">
                  <label>IBAN</label>
                  <input name="IBAN" ng-model="data.amendMandate.IBAN" required>
                  <div ng-messages="amendMandate.IBAN.$error" ng-show="formState" ng-messages-multiple>
                      <div ng-message="required">Required field</div>
                  </div>
              </md-input-container>

              <md-input-container layout="row" class="dialog-input-container" flex="50">
                  <label>BIC</label>
                  <input name="BIC" ng-model="data.amendMandate.BIC" required>
                  <div ng-messages="amendMandate.BIC.$error" ng-show="formState" ng-messages-multiple>
                      <div ng-message="required">Required field</div>
                  </div>
              </md-input-container>

         </div>
        </md-dialog-content>
          <md-dialog-actions layout="row" class="padding-correction">
            <md-button ng-click="cancel();" class="md-raised margin-correction" flex="50"> Cancel </md-button>
            <md-button ng-click="submitDebitorUpdatesMandate(amendMandate);" class="md-raised mandate-button" flex="50"> Submit </md-button>
          </md-dialog-actions>
     </form>
    </md-dialog>
</div>