<md-card id="overlay" class="shadow-box">
    <blockchain-header header-name="BLOCK INFORMATION" icon-name="block"></blockchain-header>
    <md-card-content>
        <blockchain-blocks-info-content label="Hash" value="{{currentBlock.hash}}"></blockchain-blocks-info-content>
        <blockchain-blocks-info-content label="Previous hash" value="{{currentBlock.previous_hash}}"></blockchain-blocks-info-content>
        <blockchain-blocks-info-content label="Timestamp" value="{{currentBlock.timestamp}}"></blockchain-blocks-info-content>
        <blockchain-blocks-info-content label="Transactions Root" value="{{currentBlock.transaction_root}}"></blockchain-blocks-info-content>
    </md-card-content>
</md-card>
