<md-card id="overlay" class="shadow-box">
    <blockchain-header header-name="TRANSACTIONS INFORMATION" icon-name="transaction"></blockchain-header>
    <md-card-content class="no-padding-margin">
        <div class="transaction-content">
            <blockchain-blocks-info-content label="Hash" value="{{currentBlock.transaction[0].hash}}"></blockchain-blocks-info-content>
            <blockchain-blocks-info-content label="From" value="{{'0x' + currentBlock.transaction[0].from}}"></blockchain-blocks-info-content>
            <blockchain-blocks-info-content label="To" value="{{'0x' + currentBlock.transaction[0].to}}"></blockchain-blocks-info-content>
            <blockchain-blocks-info-content label="Chaincode ID" value="{{currentBlock.transaction[0].chain_id}}"></blockchain-blocks-info-content>
            <br>
        </div>
    </md-card-content>
</md-card>
