<md-card id="overlay" class="shadow-box">
    <blockchain-header ng-show="(currentUserSelected.typeOfUser == 'creditorBank')||(currentUserSelected.typeOfUser == 'debitorBank')"
            header-name="BLOCKCHAIN" icon-name="blocks" class="blockchain-header"></blockchain-header>
    <blockchain-header ng-show="(currentUserSelected.typeOfUser != 'creditorBank')&&(currentUserSelected.typeOfUser != 'debitorBank')"
            header-name="BLOCKS CONCERNED" icon-name="blocks" class="blockchain-header"></blockchain-header>
    <md-content class="blockchain-zone">
        <div class="blockchain-area" layout="row">
            <div class="block-design" ng-repeat="block in blockchain.ListOfBlocks | reverse track by $index" flex="auto">
                <div class="cubePadding">
                    <div class="cubeZone">
                        <md-tooltip md-direction="bottom">{{block.transaction[0].data.function}}</md-tooltip>
                        <md-icon md-svg-src="fonts/icons/cube-blue-grey.svg"
                                 ng-click="showBlockContent(block.blockNumber)"
                                 ng-show="block.blockNumber != currentBlock.blockNumber && !block.new"
                                 class="block" aria-label="Block"></md-icon>
                        <md-icon md-svg-src="fonts/icons/cube-blue.svg"
                                 ng-click="showBlockContent(block.blockNumber)"
                                 ng-show="block.blockNumber == currentBlock.blockNumber"
                                 class="block" aria-label="Block"></md-icon>
                        <md-icon md-svg-src="fonts/icons/cube-purple.svg"
                                 ng-click="showBlockContent(block.blockNumber)"
                                 ng-show="block.new"
                                 class="block" aria-label="Block"></md-icon>
                    </div>
                    <div ng-show="isLastHorizontalBarReverseFilter(block.blockNumber)">
                        <div class="chain-spacer"></div>
                        <div class="horizontalBar"></div>
                    </div>
                    <div class="block-number" ng-show="block.blockNumber != currentBlock.blockNumber"
                         ng-class="{'block-number-last': !isLastHorizontalBarReverseFilter(block.blockNumber)}">
                        <div class="block-number-txt">{{block.blockNumber}}</div>
                    </div>
                    <div class="block-number block-number-selected" ng-show="block.blockNumber == currentBlock.blockNumber"
                         ng-class="{'block-number-last': !isLastHorizontalBarReverseFilter(block.blockNumber)}">
                        <div class="block-number-txt">{{block.blockNumber}}</div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</md-card>