<div layout="row" class="info-content">
    <div flex="35" class="mandate-data-label">{{label}} </div>
    <div flex="5" class="mandate-data-separator"> : </div>
    <div flex="55">
        <b ng-show="count == 0 && value == '' " ng-mouseleave="count= count +1" class="no-data-content"> No data</b>
        <b ng-show="count == 0 && value != '' " ng-mouseleave="count= count +1" > {{value}}</b> 
        <b ng-show="count == 1 && value == '' " ng-init="count=1"  ng-mouseenter="count = count -1" class="no-data-content"> No data</b>               
        <b ng-show="count == 1 && value != '' " ng-init="count=1"  ng-mouseenter="count = count -1">•••••••••</b>
    </div>
</div>