<div layout="row" class="info-content">
    <div flex="35" class="mandate-data-label">{{label}} </div>
    <div flex="5" class="mandate-data-separator"> : </div>
    <div flex="55">
        <b ng-show="value == '' || value == '0x'" class="no-data-content">No data</b>
        <b ng-show="value != '' && value != '0x'" ng-class="{'value-updated': $parent.isChaincodeDataUpdated(label)}">
            {{value}} {{currency}}
        </b>
    </div>
</div>