<md-card id="overlay" class="shadow-box chaincode-block">
    <blockchain-header header-name="CHAINCODE INFORMATION" icon-name="contract"></blockchain-header>
    <md-card-content class="no-padding-top">
        <div layout="row" flex>
            <div flex="55">
                <h3>Public Data</h3>
                <blockchain-chaincode-info-content label="Mandate ID" value="{{currentTransaction.data.MandateID.slice(0,10)}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Function called" value="{{currentTransaction.data.function}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Debtor Public Key" value="{{'0x' + currentTransaction.data.debitorPublicKey}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Creditor Public Key" value="{{'0x' + currentTransaction.data.creditorPublicKey}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <br>

                <h3>Private Data</h3>
                <blockchain-chaincode-info-content label="Creditor Name" value="{{currentTransaction.data.creditorName}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Creditor Address" value="{{currentTransaction.data.creditorAddress}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
            </div>
            <div flex="45">
                <h3>Mandate Data</h3>
                <blockchain-chaincode-info-content label="RUM" value="{{currentTransaction.data.rum}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="ICS" value="{{currentTransaction.data.ics}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Amount" currency="€" value="{{currentTransaction.data.amount}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Periodicity" value="{{currentTransaction.data.periodicity}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Type of payment" value="{{currentTransaction.data.typeOfPayment}}">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Mandate Manager" value="{{currentTransaction.data.owner}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Location" value="{{currentTransaction.data.location}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Debtor Name" value="{{currentTransaction.data.debitorName}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Debtor Address" value="{{currentTransaction.data.debitorAddress}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Debtor BIC" value="{{currentTransaction.data.BIC}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>
                <blockchain-chaincode-info-content label="Debtor IBAN" value="{{currentTransaction.data.IBAN}}" transaction="currentTransaction">
                </blockchain-chaincode-info-content>

            </div>
        </div>
    </md-card-content>
</md-card>