<link rel="stylesheet" type="text/css" href="css/blockDesign.css">

<md-content class="dashboard-content"layout-padding flex>
    <div layout="column">
        <blockchain-tabs></blockchain-tabs>
        <blockchain-blocks flex class="blockchain-blocks"></blockchain-blocks>
        <div layout="row" flex>
            <div layout="column" flex="45">
                <blockchain-blocks-info flex></blockchain-blocks-info>
                <blockchain-transactions-info flex></blockchain-transactions-info>
            </div>
            <blockchain-chaincode-info flex="55"></blockchain-chaincode-info>
        </div>
    </div>
</md-content>