<div name="aa" ng-controller="AuditCtrl">
{{salut}}
kk
    <md-card id="overlay" class="shadow-box">
        <md-card-content class="height-limited no-padding-margin">
            <md-content class="height-limited">
                <dashboard-header header-name="LIST OF LOTS" icon-name="list"></dashboard-header>
                <div ng-repeat="(index,item) in model.ListOfLots>
             <md-toolbar ng-click="showInfo(index);"

                        <div><h3 class="mandate">Lot n°</h3></div>
                <div ng-show="item.showLotInfo">
                    <h4>{{item.Lot_ID}}</h4>
                    <h4>{{item.Exporter}}</h4>
                    <h4>{{item.Number_of_batches}}</h4>
                    <h4>{{item.Provenance}}</h4>
                    <h4>{{item.Country_of_destination}}</h4>
                    <h4>{{item.Lot_state}}</h4>
                </div>
                    </md-toolbar>
                </div>
            </md-content>
        </md-card-content>
    </md-card>
</div>