<div class="header" ng-controller="Header">
    <md-toolbar layout="row" class="md-toolbar-tools no-padding-margin" md-scroll-shrink>
        <div class="md-toolbar-tools no-padding-margin">
            <md-button class="header-button no-padding-margin" ui-sref='home' ng-show="showArrowLeft">
                <md-icon md-svg-icon="fonts/icons/go-back-left-arrow.svg" class="s48 arrow-left-style" aria-label="Info"></md-icon>
            </md-button>
            <md-button class="header-button" ui-sref='home' ng-show="!showArrowLeft">
                <h4 class="header-button-content">HyperSEPA</h4>
            </md-button>
            <span flex class="header-title">{{viewName}}</span>
            <md-button class="header-button profile-type" aria-label="typePerson">
                <h5 class="header-button-content">Profile: {{typePerson}}</h5>
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button ng-click="consultBlockchain();" class="md-icon-button blockchain-header-icon no-padding-margin" aria-label="menu">
                <img src="img/hyperledger-transparent-white.png" class="s48 blockchain-header-icon" aria-label="Blockchain">
                <!--<md-tooltip md-direction="top" md-visible="tooltipVisible">Consulter Blockchain</md-tooltip>-->
                <!--<md-icon md-svg-icon="fonts/icons/hyperledger.svg" class="s48 blockchain-header-icon" aria-label="Info"></md-icon>-->
            </md-button>
            <md-button class="header-button no-padding-margin" aria-label="Déconnexion" ng-click="deconnexion();" layout-align="end center">
                <img class="shutdown" src="fonts/Shutdown.png" />
                <!--<h5>Déconnexion</h5>
                <ng-md-icon icon="deconnexion"></ng-md-icon>-->
            </md-button>
        </div>
    </md-toolbar>
</div>