<!--<style>
   md-grid-list {
       margin: 8px; }

   md-grid-list .gray {
       background: #f5f5f5; }

   md-grid-list .green {
       background: #b9f6ca; }

   md-grid-list .yellow {
       background: #ffff8d; }

   md-grid-list .blue {
       background: #84ffff; }

   md-grid-list .purple {
       background: #b388ff; }

   md-grid-list .red {
       background: #ff8a80; }

   md-grid-list md-grid-tile {
       transition: all 400ms ease-out 50ms; }
   </style>
   <md-grid-list
       md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
       md-row-height-gt-md="1:1" md-row-height="2:2"
       md-gutter="12px" md-gutter-gt-sm="8px" >

   <md-grid-tile class="yellow"
                 md-rowspan="1" >
       <md-content class="md-padding grid-content" layout="column" layout-align="center end" >
           <md-button ng-hide="boolAddMandat" ng-click="addMandat();" class="top-right md-fab" aria-label="menu">
               <md-tooltip md-direction="top" md-visible="tooltipVisible">Add mandat</md-tooltip>
               <md-icon md-svg-icon="fonts/icons/plus.svg" class="s48" aria-label="Info" >
               </md-icon>
           </md-button>
       </md-content>
       <md-grid-tile-footer>
           <h3>#6: (2r x 1c)</h3>
       </md-grid-tile-footer>
   </md-grid-tile>
   <md-grid-tile class="red"
                 md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
       <md-grid-tile-footer>
           <h3>#5: (2r x 2c)</h3>
       </md-grid-tile-footer>
   </md-grid-tile>
   </md-grid-list>-->
<!--<div layout="row" layout-margin style="padding : 30px; " ng-cloak>-->
<!--<div flex="20"></div>
   <div flex="80">-->