<md-content layout-padding flex>
    <section>
        <home-sub-header></home-sub-header>
        <div layout="row">
            <div flex="10"></div>
            <div flex="80">
                <div layout="column" layout-margin style="padding : 30px; " ng-cloak>
                    <md-content class="md-padding content-no-padding" layout="column" ng-repeat="item in model.ListOfMandates | filter:searchMandate">
                        <md-toolbar class="mandate-list-toolbar" md-ink-ripple ng-click="showInfo(item.number);" ng-class="item.lastChaincodeFunctionCalled">
                            <div flex>
                                <h3>{{item.name}} n°{{item.number}}</h3>
                            </div>
                        </md-toolbar>
                        <div class="mandateLine mandate-info{{item.number}} globalInfo" ng-show="item.show" flex>
                            <step-bar mandatenum="{{item.number}}"></step-bar>
                            <div layout="row" flex layout-margin>
                                <div flex=10></div>
                                <div flex=90>
                                    RUM : <b> {{item.rum}} </b><br>
                                    ICS : <b>{{item.ics}} </b><br>
                                    Timestamp : <b>{{item.signatureInfo.date}} </b><br>
                                    Location : <b>{{item.signatureInfo.place}} </b><br>
                                    Creditor signature : <b>{{item.signatureInfo.creditorSign}} </b><br>
                                    Debitor signature : <b>{{item.signatureInfo.debtorSign}} </b><br>
                                </div>
                            </div>
                        </div>
                        <div class="mandateLine mandate-info{{item.number}} edition" ng-show="item.editMandat" layout="row" layout-align="center center">
                            <!--<step-bar mandatenum="{{item.number}}"></step-bar>-->
                            <md-button ng-show="model.showFunctionnality.showInitMandate" ng-click="initiateMandate($event,item.number)" class="md-raised md-primary"> Create mandate </md-button>
                            <md-button ng-show="model.showFunctionnality.showFillMandate" ng-click="fillMandate($event,item.number);" class="md-raised md-primary"> Fill mandate </md-button>
                            <md-button ng-show="model.showFunctionnality.showAmendMandate" ng-click="amendMandate($event,item.number);" class="md-raised md-primary"> Amend mandate </md-button>
                            <md-button ng-show="model.showFunctionnality.showRevokeMandate" ng-click="revokeMandate($event,item.number);" class="md-raised md-primary"> Revoke mandate </md-button>
                        </div>
                        <div class="mandateLine mandate-info{{item.number}} bankInfo" ng-show="item.infoBank">
                            <step-bar mandatenum="{{item.number}}"></step-bar>
                            <div layout="row" flex layout-margin >
                                <div flex=5></div>
                                <div flex=35>
                                    Debitor name : <b>{{item.debtorName}} </b><br>
                                    Debitor address : <b>{{item.debtorAddress}} </b><br>
                                    IBAN : <b>{item.debtorBankingInfo.IBAN}} </b><br>
                                </div>
                                <div flex=20></div>
                                <div style="margin-left:20px;" flex=35></div>
                                <div>
                                    Creditor name : <b>{{item.creditorName}} </b><br>
                                    Creditor address : <b>{{item.creditorAddress}} </b><br>
                                </div>
                                <div flex=5></div>
                            </div>
                        </div>
                        <div class="mandateLine mandate-info{{item.number}} blockainInfo" ng-show="item.infoBlockchain">
                            <step-bar mandatenum="{{item.number}}"></step-bar>
                            <div layout="row" flex layout-margin >
                                <div flex=5></div>
                                <div flex=90>
                                    Chaincode Id : <b></b> <br>
                                    Last Transaction : <b></b> <br>
                                </div>
                                <div flex=5></div>
                            </div>
                        </div>
                        <div mandate-buttons></div>
                    </md-content>
                    <md-content ng-show="model.showFunctionnality.showAddMandate" class="md-padding" layout="column" layout-align="center end" >
                        <md-button ng-hide="model.boolAddMandate" ng-click="addMandate();" class="top-right md-fab fab-design" aria-label="menu">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Add mandat</md-tooltip>
                            <md-icon md-svg-icon="fonts/icons/plus.svg" class="s48" aria-label="Info" >
                            </md-icon>
                        </md-button>
                    </md-content>
                </div>
            </div>
            <div flex="10"></div>
        </div>
    </section>
</md-content>