<link rel="stylesheet" type="text/css" href="css/blockDesign.css">

<div layout="row" class="behindHeader">
    <div class="blockchain-area" flex>
        <div layout="column" ng-repeat="block in blockchain.ListOfBlocks">
            <div class="cubePadding">
                <div class="cubeZone">
                    <a ng-click="showBlockContent(block.blockNumber)">
                        <span class="cube two back hover"><b></b><s></s></span>
                    </a>
                    <div class="verticalBar" ng-show="isLastVerticalBar(block.blockNumber)"></div>
                </div>

               <!-- <div flex>
                    <md-card flex class="customized-md-card card{{block.blockNumber}}">
                        <h2>Card title #2</h2>
                        <md-card-content>
                            <p>Some content</p>
                        </md-card-content>
                    </md-card>
                    <a class='button glyphicon glyphicon-plus'></a>
                </div>-->
                <!--<div class='wrap' flex=80>
                    <md-card flex class="block-content block{{block.blockNumber}}" ng-class="{'active': currentBlock.blockNumber == block.blockNumber}">
                        <h2>Card title #2</h2>
                        <md-card-content>
                            <p>Some content</p>
                        </md-card-content>
                    </md-card>
                    <a class='button glyphicon glyphicon-plus'></a>-->
                <!--<div class='block-content' ng-class="{'active': currentBlock.blockNumber == block.blockNumber}">
                    <h2>Well Hello!</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div flex>
        <md-card flex-gt-sm="90" flex-gt-md="80" ng-show="currentBlock.showBlockContent">
            <md-card-content>
                <h2>Block n°{{currentBlock.blockNumber}} </h2>
                <md-list>
                    <md-item>
                        <md-item-content>
                            <div layout="row">
                                <div class="md-tile-left inset">
                                    <!--<img src="img/cube.jpg" class="cube-img" ng-click="updateBlockContentReadable();"/>-->
                                </div>
                                <div class="md-tile-content">
                                    <h2>Block Hash : </h2>
                                    <md-item layout class="inset">
                                        <md-button layout layout-align="start center" flex class="md-primary" ng-click="showBlockInfo()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> Block Informations
                                        </md-button>
                                    </md-item>

                                    <div ng-show="currentBlock.showBlockInfo">
                                        <!--<br>-->
                                        <h4>Hash :</h4>{{currentBlock.hash}}
                                        <h4>Previous hash :</h4>{{currentBlock.previous_hash}}
                                        <h4>Nonce : </h4>{{currentBlock.nonce}}
                                        <!--<h4>Validator : </h4>-->
                                        <h4>Timestamp : </h4>{{currentBlock.timestamp}}
                                        <!--<h4>Difficulty : </h4>-->
                                        <!--<h4>Total Difficulty :</h4>-->
                                        <!--<h4>Size : </h4>-->
                                        <h4>Transactions Root :</h4>{{currentBlock.transaction_root}}

                                        <!--<h4>Receipt Root : </h4>-->
                                        <!--<h4>State Root : </h4>-->
                                        <!--<h4>Sha3 Uncles : </h4>-->
                                        <!--<h4>Logs Bloom : </h4>-->
                                        <!--<h4>Extra Data : </h4>-->
                                        <md-divider class="block-divider"></md-divider>
                                    </div>

                                    <md-item layout class="inset">
                                        <md-button layout layout-align="start center" flex class="md-primary" ng-click="showTransactionsInfo()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> Transactions Informations
                                        </md-button>
                                    </md-item>
                                    <div ng-show="currentBlock.showTransactionsInfo" class="ng-hide">
                                    <div ng-repeat="transaction in currentBlock.transaction">
                                        <md-button layout class="inset" ng-click="showTransaction(transaction.transaction_number)">
                                            <md-icon md-svg-icon="fonts/icons/drop-down-arrow-grey.svg" class="s12" aria-label="Dropdown"
                                                     ng-show="!item.mandateToggleButtons.edit.isSelected"></md-icon><h3>Transaction n°{{transaction.transaction_number}}</h3>
                                        </md-button>
                                        <!--<button ng-click="showTransaction(transaction.transaction_number)">
                                            <h3>Transaction n°{{transaction.transaction_number}}</h3>
                                        </button>-->
                                    <div ng-show="transaction.showTransaction" class="ng-hide">
                                        <!--<br>-->
                                        <h4>Hash : </h4>{{transaction.hash}}
                                        <h4>Nonce : </h4>{{transaction.nonce}}
                                        <h4>From : </h4>{{transaction.from}}
                                        <h4>Transaction_number : </h4>{{transaction.transaction_number}}
                                        <h4>Chaincode id : </h4>{{transaction.chain_id}}
                                       <!-- <h4>To : </h4>
                                        <h4>Input : </h4>
                                        <h4>BlockHash : </h4>
                                        <h4>BlockNumber : </h4>
                                        <h4>TransactionIndex :</h4>-->
                                        <!--<md-divider class="block-divider"></md-divider>-->
                                        <br>
                                        <br>
                                        <br>
                                        <hr width="50%" color="black" align=left>
                                        <br>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-card-content>
        </md-card>
        <!--<md-card flex>
            <h2>Card title #2</h2>
            <md-card-content>
                <p>Some content</p>
            </md-card-content>
        </md-card>
        <a class='button glyphicon glyphicon-plus'></a>-->
    </div>
</div>

<div ui-view='content'/></div>