<link rel="stylesheet" type="text/css" href="css/utils/icon-refresh.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/segment-js/1.0.3/segment.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-ease.v0.6.min.js"></script>
<script type="text/javascript" src="js/utils/icon-refresh.js"></script>

<button class="refresh-icon">
    <svg viewBox="0 0 90 90">
        <path class="circle-path" d="M 45 45 m 0 -30 a 30 30 0 1 1 0 60 a 30 30 0 1 1 0 -60"></path>
    </svg>
    <svg class="arrow-svg" viewBox="0 0 90 90">
        <path class="arrow-path" d="M 50 15 m -18 -18 l 18 18 l -18 18"></path>
    </svg>
</button>