<md-toolbar ng-class="{'scrolling': scrolling,
            'header-toolbar-creditor': userType == 'creditor',
            'header-toolbar-debitor': userType == 'debitor',
            'header-toolbar-bank': userType == 'debitorBank',
            'header-toolbar-bank': userType == 'creditorBank'}" class="footer">
    <div layout="row" layout-align="center center">
        <img ng-src="img/sopra-banking-logo-white.png" class="md-card-image" style="width: 259px; height: 66px;"/>
        <img ng-src="img/sopra-steria-logo-white.png" class="md-card-image" style="width: 259px; height: 66px;"/>
    </div>
</md-toolbar>