<link rel="stylesheet" href="../../css/headerIconStyle.css" />
<div>
    <div class="layer bottom">
        <div class="cube nw"></div>
        <div class="cube w"></div>
        <div class="cube n"></div>
        <div class="cube ne"></div>
        <div class="cube "></div>
        <div class="cube sw"></div>
        <div class="cube s"></div>
        <div class="cube e"></div>
        <div class="cube se"></div>
    </div>
    <div class="layer">
        <div class="cube nw"></div>
        <div class="cube w"></div>
        <div class="cube n"></div>
        <div class="cube ne"></div>
        <div class="cube "></div>
        <div class="cube sw"></div>
        <div class="cube s"></div>
        <div class="cube e"></div>
        <div class="cube se"></div>
    </div>
    <div class="layer top">
        <div class="cube nw"></div>
        <div class="cube w"></div>
        <div class="cube n"></div>
        <div class="cube ne"></div>
        <div class="cube "></div>
        <div class="cube sw"></div>
        <div class="cube s"></div>
        <div class="cube e"></div>
        <div class="cube se"></div>
    </div>
</div>