<div id="header-main" class="header-height" layout="row">
    <img ng-show="currentUser.publicKey!='16oZmpFVHpXVgyegWYXg4zNFhXVxYJemmY'" ng-src="img/orange.png" class="md-card-image" style="width: 60px; height: inherit; margin-left: 4%; border: 1px; border-color: #edf0f5; border-style: solid;"/>
    <img ng-show="currentUser.publicKey=='16oZmpFVHpXVgyegWYXg4zNFhXVxYJemmY'" ng-src="img/bnp.jpg" class="md-card-image" style="width: 60px; height: inherit; margin-left: 4%; border: 1px; border-color: #edf0f5; border-style: solid;"/>

    <span flex class="header-title">{{viewName}}</span>

    <div class="header-spacer"></div>

    <div aria-label="Info" layout="row" layout-align="center center" flex="5">
        <md-tooltip md-direction="bottom" md-visible="tooltipUserVisible">Select a user</md-tooltip>
        <md-icon md-svg-src="fonts/icons/person-white.svg" class="header-icon"></md-icon>
    </div>

    <md-input-container class="header-user-selector" flex="20">
        <label>&nbsp;</label>
        <md-select id="user-list" class="header-input" name="type" ng-model="usersList" aria-label="Select user">
            <md-option ng-repeat="user in usersList" value="{{user}}" placeholder="Select Account"
                       ng-selected="$first" ng-click="updateCurrentUser(user.id);">{{user.userText}}</md-option>
        </md-select>
    </md-input-container>

    <md-button aria-label="Reset" class="refresh-button" ng-click="resetLocalStorage();" flex="5">
        <div class="refresh transition"></div>
        <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Reset</md-tooltip>
    </md-button>
</div>