<!--<div class="header" ng-controller="Header">
    <md-toolbar layout="row" class="md-toolbar-tools no-padding-margin"
                ng-class="{'header-toolbar-debitor': currentUser.typeOfUser == 'debitor',
            'header-toolbar-creditor': currentUser.typeOfUser == 'creditor',
            'header-toolbar-bank': currentUser.typeOfUser == 'debitorBank',
            'header-toolbar-bank': currentUser.typeOfUser == 'creditorBank'}" md-scroll-shrink>

        <div class="md-toolbar-tools no-padding-margin" layout="row">
            <header-main class="header-height" ng-show="!showSearch" flex></header-main>
            <header-search class="header-height" ng-show="showSearch" flex></header-search>

            <md-button class="loupe-button" aria-label="Search" ng-click="showSearchView()" flex="5">
                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">
                    <div ng-show="!showSearch">Search</div>
                    <div ng-show="showSearch">Close</div>
                </md-tooltip>
                <div id="search-icon" class="search"></div>
                <div id="close-icon" class="close"></div>
            </md-button>
        </div>

    </md-toolbar>
</div>-->