<div id="header-search" class="header-height" layout="row">
    <div flex="5"></div>
    <md-input-container class="header-filter-selector" flex="25">
        <md-select name="type" ng-model="selectModel" placeholder="Select a filter" class="header-filer-list md-no-underline">
            <md-option ng-repeat="filter in FABData.searchFields" ng-value="filter.parameter"
                       ng-click='updateFABDesign(filter.parameter);'>{{filter.name}}</md-option>
        </md-select>
    </md-input-container>

    <div class="header-filter" flex>
        <filter-id ng-show="FABData.showInputNumber == 0"></filter-id>
        <filter-ics ng-show="FABData.showInputNumber == 1"></filter-ics>
        <filter-rum ng-show="FABData.showInputNumber == 2"></filter-rum>
        <filter-public-key ng-show="FABData.showInputNumber == 3"></filter-public-key>
        <filter-amount ng-show="FABData.showInputNumber == 4"></filter-amount>
        <filter-all ng-show="FABData.showInputNumber == 5"></filter-all>
    </div>
</div>