@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css");

.refresh-icon {
    position: relative;
    top: 50%;
    left: 50%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s background;
    transition: 0.2s background;
}
.refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.refresh-icon:focus {
    background-color: rgba(255, 255, 255, 0.15);
}
.refresh-icon svg path {
    stroke: #fff;
    stroke-width: 5px;
    stroke-linecap: round;
    fill: none;
}
.refresh-icon svg.arrow-svg {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.arrow-animation {
    -webkit-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
    80% {
        -webkit-transform: rotate(340deg);
        transform: rotate(340deg);
    }
    99.999% {
        -webkit-transform: rotate(460deg);
        transform: rotate(460deg);
    }
    to {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
    80% {
        -webkit-transform: rotate(340deg);
        transform: rotate(340deg);
    }
    99.999% {
        -webkit-transform: rotate(460deg);
        transform: rotate(460deg);
    }
    to {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }
}
