<!-- Unused -->
<link rel="stylesheet" href="../../views/connect/login_style.css" />
<!--<link rel="stylesheet" href="../../css/loginBackgroundStyle.css" />-->

<div id="container" class="container padded">
	<!--<canvas id="display" width="450" height="648" style="width: 100%; height: 648px;"></canvas>-->
	<!--<div id="logo"></div>-->
	<!--<background></background>-->
	<md-card id="overlay" class="md-whiteframe-4dp">
		<!--class="padded" md-whiteframe="1"   flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"-->
		<!--<md-toolbar>-->
			<!--<div layout="column" layout-padding layout-align="center center">-->
				<!--&lt;!&ndash;<div><md-icon class="logo">home</md-icon></div>&ndash;&gt;-->
				<!--<img src="img/hyperledger-transparent.png" alt="Logo" class="img-responsive">-->
				<!--<div class="md-headline md-padding">HYPERSEPA</div>-->
			<!--</div>-->
		<!--</md-toolbar>-->
		<md-card-content class="height-limited no-padding-margin">
			<!--<img src="img/hyperledger-transparent.png" alt="Logo" class="img-responsive md-card-image">-->
			<div class="md-headline md-padding login-header" layout="center">
				<login-header-style></login-header-style>
				<h4 class="login-header-title">HYPERSEPA</h4>
			</div>
			<form name="loginForm" class="login-form">
				<md-input-container class="md-block" flex>
					<label>Public Key</label>
					<input type="text" name="publicKey" value="{{publicKey}}" ng-model="publicKey" required />
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Private Key</label>
					<input type="password" name="privateKey" value="{{privateKey}}" ng-model="privateKey" required />
				</md-input-container>
				<md-input-container class="md-block no-margin" flex>
					<div layout="row" layout-align="center center">
						<md-button class="md-raised md-primary no-margin" type="submit" flex="100" ng-click="login();">Login</md-button>
					</div>
				</md-input-container>
			</form>
		</md-card-content>
	</md-card>
	<!--<div id="overlay" class="col-sm-8 col-sm-offset-2">
		<div class="modal-dialog">
			<div class="loginmodal-container">
				<img src="img/hyperledger-transparent.png" alt="Logo" class="img-responsive">
				<h1>Login to Your Account</h1><br>
				<form ng-submit="login()" ng-controller="LoginController">
					<input type="text" name="pubk" ng-model="pubk" placeholder="Public key" required>
					<input type="password" name="prik" ng-model="prik" placeholder="Private key" required>
					<input type="submit" name="login" class="login loginmodal-submit" value="Login" >
				</form>
			</div>
		</div>
	</div>-->
</div>

<!--<script src="../../lib/js/jquery.min.js"></script>-->
<!--<script src="../../lib/js/loginBackgroundAngular.js"></script>-->

<!-- PREVIOUS LOGIN
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="views/connect/login_style.css" />
<br>
<div class="container">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="modal-dialog">
			<div class="loginmodal-container">
				<img src=https://image.ibb.co/m8vUAa/logo.png  alt="Logo" class="img-responsive">
		          <h1>Login to Your Account</h1><br>
		          <form ng-submit="login()" ng-controller="LoginController">
			          <input type="text" name="pubk" ng-model="pubk" placeholder="Public key" required>
			          <input type="password" name="prik" ng-model="prik" placeholder="Private key" required>
			          <input type="submit" name="login" class="login loginmodal-submit" value="Login" >
		          </form>    
			</div>
		</div>
	</div>
</div>
-->
