/*Unused*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
#logo{
    right: 0px!important;
    top: 0px!important;
    position: absolute;
}


/*TODO : add it after*/
/*
#container{
    position: relative
}

#container canvas, #overlay{
    position: absolute
}
*/

.padded{
    padding-left: 19%;
    padding-right: 30%;
    padding-top: 8%;
    padding-bottom: 35%;
}

.no-margin{
    margin: 0px;
}

.height-limited{
    /*max-height: 300px;*/
}

/*.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100%!important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
    font-family: roboto
}*/

/*.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto
}*/

/*.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative
}*/

/*.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}*/

/*.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}*/

/*
.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px
}
*/

/*.loginmodal-submit {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
    background-color: #4d90fe;
    padding: 17px 0;
    font-family: roboto;
    font-size: 14px
}*/

/*.loginmodal-submit:hover {
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    background-color: #357ae8
}*/

/*.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: .6;
    transition: opacity ease .5s
}*/

/*
.login-help {
    font-size: 12px
}*/
