<md-input-container md-theme="input" class="search-input">
    <label class="header-input">&nbsp;</label>
    <input type="text" class="header-input" placeholder="{{FABData.searchFields[3].textToShow}}"
           ng-model="searchMandate.Mandate.DebitorPublicKey"
           ng-click="unselectMandate()">
</md-input-container>