<md-input-container md-theme="input" class="search-input">
    <label>&nbsp;</label>
    <input type="text" class="header-input" placeholder="{{FABData.searchFields[0].textToShow}}"
           ng-model="searchMandate.Mandate.MandateID"
           ng-click="unselectMandate()">
</md-input-container>